:root {
  --main-font:'Roboto', sans-serif;

  --main-background-color: #fff;
  --secondary-background-color: #2f303a;
  --accent-background-color: #f5f4fa;

  --main-light-color: #fff;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
}
/* Global styles */

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
  color: var(--main-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
}
.list {
  list-style:none;
}

/* header */
.header {
  width: 1170px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--main-color);
}
span {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.header-content {
  display: flex;
}
.nav-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}
.nav-links:hover,
.nav-links:focus{
  color: var(--accent-color);
}
.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
}
.header-contacts:hover,
.header-contacts:focus{
  color: var(--accent-color);
}
/* hero */

.section-hero {
  width: 696px;
  background: var(--secondary-background-color);
  padding: 200px 452px 200px 452px;
  margin: 0 auto;
}
.hero {
  width: 696px;
  display: flex;
  flex-direction: column;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-light-color);
  margin-bottom: 30px;
}
.button {
  
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  color: var(--main-light-color);
  background: var(--accent-color);
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* principle */

.descriptions {
  width: 1170px;
}

.description-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color:var(--main-color);
}
.description-text {
  line-height: 1.71;
  color: var(--secondary-color);
}
/* Team */
.team-title{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--main-color);
}
.team-description{
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
}
/* footer */

.footer{
  width: 1170px;
  background-color: var(--secondary-background-color)
}
.logo-footer{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  text-decoration: none;
  color: var(--main-light-color)
}

.address-list a{
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.address-list .town{
  color: var(--main-light-color);
}
.footer-contacts:hover,
.footer-contacts:focus{
  color: var(--accent-color);
}

/* Portfolio */
.portfolio-btn{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--main-color);
  background: var(--accent-background-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
  color: var(--main-light-color);
  background-color: var(--accent-color);
}
.projects-title{
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color:var(--main-color)
}
.projects-text{
  font-size: 16px;
  line-height: 1.88;
  color:var(--secondary-color);
}
.current{
  color: var(--accent-color);
}
.active{
  color: var(--main-light-color);
  background-color: var(--accent-color);
}